@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UCA JS UI Example</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/uca")
    @if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion < 9)
    {
        @Styles.Render("~/Content/ucaold")
    }
    else
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
    }
</head>
<body ng-app="ucajs">
<div class="row" ng-controller="MainController as main">
    <div class="col-lg-10 col-xs-push-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Wellcom to UCA JS UI example site</h4>
            </div>
            <div class="panel-body">
                <div class="accordion">
                    <div class="accordion-panel">
                        <div class="accordion-header">
                            <h4>ComboBox</h4>
                        </div>
                        <div class="accordion-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Result
                                </div>
                                <div class="panel-body">
                                    <p>
                                        Model text: {{main.comboText}}
                                    </p>
                                    <p>
                                        Model value: {{main.comboValue}}
                                    </p>
                                    <select uca-text-ng-model="main.comboText" uca-value-ng-model="main.comboValue">
                                        <option value="0">Zero</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                        <option value="4">Four</option>
                                    </select>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Code
                                </div>
                                <div class="panel-body">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                html
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <pre>
                                                <code class="html">
&lt;body ng-app="ucajs"&gt;
    &lt;div ng-controller="MainController as main"&gt;
        ... &lt;!--AngularJs is only needed to model binding! You can use ComboBox without it!--&gt;
        &lt;p&gt;Model text: &lang;&lang;main.comboText&rang;&rang;&lt;/p&gt;
        &lt;p&gt;Model value: &lang;&lang;main.comboValue&rang;&rang;&lt;/p&gt;
        &lt;select uca-text-ng-model="main.comboText" uca-value-ng-model="main.comboValue"&gt;
            &lt;option value="0"&gt;Zero&lt;/option&gt;
            &lt;option value="1"&gt;One&lt;/option&gt;
            &lt;option value="2"&gt;Two&lt;/option&gt;
            &lt;option value="3"&gt;Three&lt;/option&gt;
            &lt;option value="4"&gt;Four&lt;/option&gt;
        &lt;/select&gt;
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                javascript
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <pre>
                                                <code class="JavaScript">
angular.module("ucajs", []).controller("MainController", function () {
}); //&lt;-- AngularJs is only needed to model binding! You can use ComboBox without it!
...
$("select").comboBox({"onSelectIndexChanged": function (item) {
    alert(JSON.stringify(item));
}});
                                                </code>
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-panel">
                        <div class="accordion-header">
                            <h4>
                                Accordion
                            </h4>
                        </div>
                        <div class="accordion-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Result
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="accordion">
                                        <div class="accordion-panel">
                                            <div class="accordion-header">
                                                <h4>
                                                    Header from html
                                                </h4>
                                            </div>
                                            <div class="accordion-body">
                                                <div style="width: 100px; height: 100px; background-color: blue;" onclick=" alert('I was added from html!'); "></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion accordion-horizontal">
                                        <div class="accordion-panel">
                                            <div class="accordion-header">
                                                <h4>
                                                    Horizontal header from html
                                                </h4>
                                            </div>
                                            <div class="accordion-body">
                                                <div class="row center-block">
                                                    <div style="width: 100px; height: 100px; background-color: blue;" onclick=" alert('I was added from html and my header is horizontal!'); "></div>
                                                    <button type="button" class="btn btn-success" style="margin-top: 5px;" onclick=" enablePanel(this) ">Enabled second panel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        Code
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                html
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <pre>
                                            <code class="html">
&lt;div class="accordion"&gt;
    &lt;div class="accordion-panel"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;h4&gt;Header from html&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class="accordion-body"&gt;
            &lt;div style="width: 100px; height: 100px; background-color: blue;" onclick="alert('I was added from html!');">&lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class="accordion accordion-horizontal"&gt;
    &lt;div class="accordion-panel"&gt;
        &lt;div class="accordion-header"&gt;
            &lt;h4&gt;Horizontal header from html&lt;/h4&gt;
        &lt;/div&gt;
        &lt;div class="accordion-body"&gt;
            &lt;div class="row center-block"&gt;
                &lt;div style="width: 100px; height: 100px; background-color: blue;" onclick="alert('I was added from html and my header is horizontal!');"&gt;&lt;/div&gt;
                &lt;button type="button" class="btn btn-success" style="margin-top: 5px;" onclick="enablePanel(this)"&gt;Enabled second panel&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                javascript
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <pre>
                                            <code class="JavaScript">
$(".accordion").accordion("addItems", [{header: "Header from options", body: "&lt;div style=\"width: 100px; height: 100px; background-color: red;\" onclick=\"alert('I was added from options!');\"&gt;&lt;/div&gt;"}]).accordion("changeEnabled", {index: 1, enabled: false});
function enablePanel(button) {
    var $button = $(button);
    var accordion = $button.closest(".accordion");
    accordion.accordion("changeEnabled", { index: 1, enabled: true });
}
                                            </code>
                                        </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @if (Request.Browser.Browser == "IE" && Request.Browser.MajorVersion < 9)
    {
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    }
    else
    {
        @Scripts.Render("~/bundle/jquery")
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
        <script type="text/javascript">
            hljs.initHighlightingOnLoad();
        </script>
    }
    @Scripts.Render("~/bundle/angular")
    @Scripts.Render("~/bundle/bootstrap")
    @Scripts.Render("~/bundle/uca")
<script type="text/javascript">
    angular.module("ucajs", []).controller("MainController", function () {
    });
    $(document).ready(function () {
        $(".accordion").not(function (index) {
            return index == 0;
        }).accordion("addItems", [{ header: "Header from options", body: "<div style=\"width: 100px; height: 100px; background-color: red;\" onclick=\"alert('I was added from options!');\"></div>" }]).accordion("changeEnabled", { index: 1, enabled: false });
        setTimeout(function () {
            $(".accordion").eq(0).accordion();
        }, 0);
        $("select").comboBox({"onSelectIndexChanged": function (item) {
            alert(JSON.stringify(item));
        }});
    });
    function enablePanel(button) {
        var $button = $(button);
        var accordion = $button.closest(".accordion");
        accordion.accordion("changeEnabled", { index: 1, enabled: true });
    }
</script>
</body>
</html>
